spring:
  profiles:
    active: dev
  application:
    name: uni-research-assistant
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

server:
  port: 8080
  servlet:
    context-path: /api

# Knife4j 配置
knife4j:
  enable: true
  setting:
    language: zh_cn
